body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #1f2937;



}

#subheader {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    width: 75%;
}

#sub-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #f9faf8;
    font-weight: bold;
    width: 30%;
    flex-direction: column;
    gap: 20px;
}

#sub-title p,
#sub-title h1 {
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    margin: auto;
    width: 75%;

}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;

}

#links {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: flex-end;



}