body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #1f2937;



}

#subheader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    width: 75%;
    padding-bottom: 35px;
}

#sub-title {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    font-weight: bold;
    width: 30%;
    flex-direction: column;
    gap: 20px;
}

#sub-title p,
#sub-title h1 {
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    margin: auto;
    width: 75%;
    padding-bottom: 70px;

}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

#logo img{
    width: 100px;
    height: auto;

}

#links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: flex-end;
    vertical-align: center;
}

#add-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 3000;
    background-color: yellow;
}

#subheader button{
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid #1f2937;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}


#subheader button:hover {
background-color: red;
}

#body{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    flex-direction: column;
}

#body h1{
    color: black;
}

#rects{
    display: flex;
    width: 80%;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.round-rect{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    border: solid 5px #3882F6;
}

.subtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
}

.subtext p{
    color: rgb(160, 159, 159);
    text-align: center;
}